@use '../../utitlities.scss';
%wordlist {
  li {
    background-color: #f2f4f8;
    div {
      display: flex;
      justify-content: space-between;
      b {
        font-size: 16px;
      }
      span {
        font-size: 16px;
        opacity: 0.5;
      }
    }
  }
}

.wordlist {
  @extend %wordlist;
  li:first-child {
    @apply pt-3;
  }
  li {
    @apply pb-2 px-3 pt-2 bg-transparent border-b-[#dde1e6] border-solid border-b-1;
  }
  li:last-child {
    @apply border-none;
  }
}

.wordlist-striped {
  @extend %wordlist;
  li:nth-child(even) {
    @apply bg-transparent;
  }
}
