.canvas {
  width: 100%;
  object-fit: contain;
  aspect-ratio: auto 600 / 300;
}

.canvas-container {
  position: relative;
  width: 100%;
  padding-bottom: 50%;
  height: 0;

  canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
