@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Roboto';
  src: url('../font/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
}

@font-face {
  font-family: 'Open Sans';
  src: url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,100..900;1,100..900&display=swap');
}

iframe {
  image {
    display: none;
  }
}

.post {
  background-color: #f2f4f8;
  padding: 1rem;
  div {
    display: flex;
    justify-content: space-between;
    .post-image {
      display: flex;
      flex-direction: row;
      padding-bottom: 1rem;
      span {
        align-self: end;
        font-size: 12px;
        padding-left: 0.5rem;
      }
    }
    a {
      font-size: 16px;
    }
    span {
      font-size: 16px;
    }
  }
  p {
    font-size: 14px;
  }
  b {
    font-size: 14px;
    margin-bottom: 0.5rem;
  }
}

.posts {
  @apply pt-3;
  display: flex;
  flex-direction: column;
}

.popular-langauges {
  list-style: none;
  padding: 0;
  li {
    .langauge-row {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      padding-top: 0.5rem;
      .country {
        grid-column: span 8;
        display: flex;
        justify-content: flex-start;
        text-align: center;
        align-items: center;
        font-size: 16px;
      }
      .post-amount {
        grid-column: span 2;
        font-size: 16px;
        opacity: 0.5;
        text-align: end;
      }
      .percentage {
        grid-column: span 2;
        font-size: 16px;
        text-align: end;
      }
    }
  }
}

@layer {
  .border {
    &-b-1 {
      border-bottom-width: 1px;
    }
    &-t-1 {
      border-top-width: 1px;
    }
    &-l-1 {
      border-left-width: 1px;
    }
    &-r-1 {
      border-right-width: 1px;
    }
  }
}

.page-title {
  @apply bg-white inline-flex items-center justify-between py-4 m-auto sticky top-0 z-50;
  height: 75px;
  width: 100%;

  h1 {
    @apply my-auto pl-4 text-4xl font-bold;
    align-content: center;
  }
}

* {
  @apply font-regular;
}

h1 {
  @apply h1;
}

h2 {
  @apply h2;
}

h3 {
  @apply h3;
}

h4 {
  @apply h4;
}

h5 {
  @apply h5;
}

h6 {
  @apply h6;
}
