.dashboard {
  @apply flex flex-col bg-gray-50;
  min-height: calc(100% - 10vh);
  // padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__row {
    @apply flex flex-row justify-between w-full px-5 pt-5;
  }

  &__grid {
    @apply grid grid-cols-12 gap-4 w-full px-4 mb-5;

    // .keyword-mood {
    //   @apply col-span-6;
    // }
  }
  &__keywords {
    @apply bg-white flex w-full p-3;
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;

    li {
      @apply flex items-center m-1 bg-gray-100 rounded-md;
      border: 1px solid #e4e4e4;
      .checkbox-wrapper {
        @apply p-1;
      }
    }
    &__option-button {
      @apply flex items-center px-3 py-1;
      border-left: 1px solid #e4e4e4;
      height: 100%;
    }
  }

  &__custom {
    @apply bg-white flex flex-col w-full p-3;
    .custom-input {
      @apply flex items-center;
      input {
        @apply w-full;
      }
    }
  }
}
