.dashboard {
  @apply flex flex-col bg-gray-50;
  min-height: calc(100% - 10vh);
  // padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__row {
    @apply flex flex-row justify-between w-full px-5 pt-5;
  }

  &__grid {
    @apply grid grid-cols-12 gap-4 w-full px-4 mb-5;

    // .keyword-mood {
    //   @apply col-span-6;
    // }
  }

  &__custom {
    @apply bg-white flex flex-col w-full p-3;
    .custom-input {
      @apply flex items-center;
      input {
        @apply w-full;
      }
    }
  }
}
